@model Northwind.MVC.Models.PersonajesViewModel
@{
    ViewBag.Title = Model.name ;
}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">@Model.name</h2>
        <p class="lead">Status: @Model.status</p>
        <p class="lead">Specie: @Model.species</p>
        <p class="lead">Gender: @Model.gender</p>
        <p class="lead">Origin: @Model.origin.Name</p>
        <p class="lead">Location: @Model.location.Name</p>
        <p class="lead">Created: @Model.created.ToString("dd/MM/yy")</p>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-outline-light shadow-lg" data-bs-toggle="modal" data-bs-target="#imageModal">
            <img class="rounded-circle shadow-lg img-thumbnail" src="@Model.image" alt="@Model.name" width="200" height="200" />
        </button>
    </div>

</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="imageModalLabel">@Model.name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid rounded mx-auto d-block" src="@Model.image" />
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

